In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

Напишіть функцію гіпотези лінійної регресії у векторному вигляді

In [2]:
def linear_reg_hypo(X, w):
  return np.dot(X, w)

Створіть функцію для обчислення функції втрат у векторному вигляді

In [3]:
def cost_function(w, X, y):
    m = len(y)  # кількість спостережень
    h = np.dot(X, w)  # гіпотеза лінійної регресії
    squared_errors = np.square(h - y)  # квадрат помилок
    J = (1 / (2 * m)) * np.sum(squared_errors)  # значення функції втрат
    return J

Реалізуйте один крок градієнтного спуску

In [4]:
def gradient_descent_step(w, X, y, learning_rate):
    m = len(y)  # кількість спостережень
    h = np.dot(X, w)  # гіпотеза лінійної регресії
    gradient = (1 / m) * np.dot(X.T, (h - y))  # обчислення градієнта
    w = w - learning_rate * gradient  # оновлення параметрів
    return w

Знайдіть найкращі параметри для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень

In [5]:
df = pd.read_csv('Housing.csv')
display(df.head())
df.replace('NaN', np.nan, inplace=True)
display(df.isnull().sum())
display(df.dtypes)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [6]:
features = ['area', 'bedrooms', 'bathrooms']
X = df[features]
y = df['price']
model = LinearRegression()
model.fit(X, y)

print(f'Scikit-learn coeficients: {model.coef_}')
print(f'Scikit-learn intercept: {model.intercept_}')

Scikit-learn coeficients: [3.78762754e+02 4.06820034e+05 1.38604950e+06]
Scikit-learn intercept: -173171.6076326333

Знайдіть ці ж параметри за допомогою аналітичного рішення

In [7]:
# Створюємо масив, заповнений одиницями для додавання його до масиву X та зміщення інших значень вниз
X_ones = np.ones((X.shape[0], 1))
# Об'єднуємо кортеж масивів горизонтально
X = np.hstack((X_ones, X))
# Шукаємо коефіцієнти та інтерсепт
w = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)

print(f'Analytic learn coefficients: {w[1:]}')
print(f'Analytic learn intercept: {w[0]}')

Analytic learn coefficients: [3.78762754e+02 4.06820034e+05 1.38604950e+06]
Analytic learn intercept: -173171.6076326356

Порівняйте отримані результати

Обидва методи мають майже ідентичний результат.